<div class="row">
    <div class="col-sm-12 d-flex justify-content-center">
        <form id="editForm" #form="ngForm" (ngSubmit)="onSubmit(form.value)" class="row g-3">
            <div class="col-auto form-floating">
                <input #name id="name" list="nameDatalistOptions" type="text" ngModel name="name" placeholder="name"
                       class="form-control" required>
                <label for="name">Name</label>
                <datalist id="nameDatalistOptions">
                    <option *ngFor="let ingredient of availableIngredients" [value]="ingredient">
                </datalist>
            </div>
            <div class="col-2 form-floating">
                <input #amount id="amount" type="number" ngModel name="amount" class="form-control" required min="0"
                       placeholder="1">
                <label for="amount">Amount</label>
            </div>
            <div class="col-3 form-floating">
                <select #unit id="unit" ngModel name="unit" class="form-select" aria-label="Units of measure">
                    <option *ngFor="let unit of availableUnits" [value]="unit" [selected]="unit===this.DEFAULT_UNIT">{{unit}}</option>
                </select>
            </div>
            <div class="col-auto">
                <button #submitButton type="submit" [disabled]="!form.valid" class="btn btn-lg btn-primary">
                    <span>
                        <ng-container *ngIf="isAddingMode; else editMode">Add</ng-container>
                        <ng-template #editMode>Edit</ng-template>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>
